@import url("../../.cache/wal/colors-waybar.css");

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font";
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: @foreground;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @foreground;
}

#workspaces {
    transition: all 250ms ease-in-out;
}

#workspaces button {
    padding: 0 8px;
    transition: all 200ms ease-in-out;
    background: @background;
    color: @foreground;
    margin: 0 2px;
    border-radius: 100px;
}

#workspaces button.active {
    min-width: 50px;
    transition: all 250ms ease-in-out;
    background: @color4;
    color: @background;
}

#clock,
#battery,
#network,
#pulseaudio {
    background-color: @color4;
    color: @background;
    padding: 0 5px;
    margin: 0 10px;
    border-radius: 100px;
    font-weight: 500;
}

#custom-wlogout {
    background: @color4;
    color: @background;
    padding: 0 5px;
    border-radius: 100px;
}
